@{
    Layout = "~/Views/Shared/_Admin.cshtml";
}
@model syeds_interior.Models.Login
<body>
    @using (Html.BeginForm("UpdateUserDetails", "Admin", "POST"))
    {
        @Html.ValidationSummary(true)

        <fieldset style="font-size:medium;">

            <legend>Edit User</legend>
            @Html.HiddenFor(model => model.Id)
            <table style="width:100%">

                <tr>
                    <td>Name</td>
                    <td>
                        @Html.EditorFor(model => model.Username)
                        @Html.ValidationMessageFor(model => model.Username)

                    </td>

                </tr>

                <tr>
                    <td>Email</td>
                    <td>
                        @Html.EditorFor(model => model.email)
                        @Html.ValidationMessageFor(model => model.email)
                    </td>

                </tr>


                <tr>
                    <td></td>
                    <td>
                        <button type="submit" id="btnUpdate" name="Command" value="Update" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
                            <span class="ui-button-text">Update</span>
                        </button>
                    </td>
                </tr>
            </table>
        </fieldset>
    }
</body>
    